*

# dont ignore build files, but ignore the build subdirs !build/
!build/
!build/*
build/*/

# dont ignore website files
!website/
!website/**

# API
website/api/latest/latest.txt
website/api/config.php


# misc
!LICENSE
!/README.md
!/package.json
!/badges.md
!/noskid-services.md
!/.gitignore
!.github/
!.github/**
!misc/
!misc/**