/* Selection.css | Style for when you select text */


::selection {
    background-color: var(--text);
    color: var(--primary);
}

::-moz-selection {
    background-color: var(--text);
    color: var(--primary);
}